<?xml version="1.0"?>
<MacMachineMgrCfg xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ManifestCfgPath>UserData/Manifest/Manifest.xml.real</ManifestCfgPath>
  <MachineCtrls>
    <MacMachineCtrlCfg>
      <ID>MID_LP_A_ASB</ID>
      <MachineCtrlType Guid="34944abd-cdb9-4aba-bab0-384e2fa7134d" />
      <HalId>DE_LP_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_LP_B_ASB</ID>
      <MachineCtrlType Guid="34944abd-cdb9-4aba-bab0-384e2fa7134d" />
      <HalId>DE_LP_B_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_MT_A_ASB</ID>
      <MachineCtrlType Guid="80cb72bd-4fb5-4eaa-b5db-b77308864fd4" />
      <HalId>DE_MT_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_IC_A_ASB</ID>
      <MachineCtrlType Guid="85be70b6-10a6-4403-b4e3-3224cd847b48" />
      <HalId>DE_IC_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_CC_A_ASB</ID>
      <MachineCtrlType Guid="34546ed9-4b29-443a-9a96-66acb3aa61f8" />
      <HalId>DE_CC_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_OS_A_ASB</ID>
      <MachineCtrlType Guid="c5ca0cd4-c6a1-4f65-b4fa-9eed941864a0" />
      <HalId>DE_OS_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_BT_A_ASB</ID>
      <MachineCtrlType Guid="024e0148-043d-4d07-9661-6a4bcd40b316" />
      <HalId>DE_BT_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_CB_A_ASB</ID>
      <MachineCtrlType Guid="8ddaa02f-8d2d-46c6-9e8b-3e861e431ff2" />
      <HalId>DE_CB_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_UNI_A_ASB</ID>
      <MachineCtrlType Guid="afeffea4-b491-4a75-9e31-bddbb5131262" />
      <HalId>DE_UNI_A_ASB</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_DRAWER_01_01</ID>
      <MachineCtrlType Guid="cfdd465e-0156-43ce-8abf-b3eeffbb510f" />
      <HalId>DE_CB_A_01_01</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_DRAWER_01_02</ID>
      <MachineCtrlType Guid="cfdd465e-0156-43ce-8abf-b3eeffbb510f" />
      <HalId>DE_CB_A_01_02</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_DRAWER_01_03</ID>
      <MachineCtrlType Guid="cfdd465e-0156-43ce-8abf-b3eeffbb510f" />
      <HalId>DE_CB_A_01_03</HalId>
    </MacMachineCtrlCfg>
    <MacMachineCtrlCfg>
      <ID>MID_DRAWER_01_04</ID>
      <MachineCtrlType Guid="cfdd465e-0156-43ce-8abf-b3eeffbb510f" />
      <HalId>DE_CB_A_01_04</HalId>
    </MacMachineCtrlCfg>
  </MachineCtrls>
</MacMachineMgrCfg>