<?xml version="1.0"?>
<MacMachineMgrCfg xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ManifestCfgPath>GenCfg/Manifest/Manifest.xml.real</ManifestCfgPath>
  <MachineCtrls>
    <MacMachineCtrlCfg>
      <ID>MID_MT_A_ASB</ID>
      <MachineCtrlType Guid="80cb72bd-4fb5-4eaa-b5db-b77308864fd4" />
      <HalId>DE_MT_A_ASB</HalId>
    </MacMachineCtrlCfg>
  </MachineCtrls>
</MacMachineMgrCfg>